<form class="filter" action="index.php?c=catalog" method="post">
    <div>
        <select class="filter__gender_select" name="gender">
            <option value="none" selected>Пол</option>
            <option value="1">Женский</option>
            <option value="2">Мужской</option>
            <option value="3">Унисекс</option>
        </select>
    </div>
    <div class="filter__category">
        <select class="filter__category_select" name="gCategory">
            <option value="none" selected>Категория</option>
            <option value="1">Одежда</option>
            <option value="2">Аксессуары</option>
            <option value="3">Обувь</option>
            <option value="4">Рюкзаки и сумки</option>
        </select>
    </div>
    <input class="filter__btn" type="submit" value="Подобрать">
</form>
{% if data == null %}
<h3>Извините, на данный момент нет товаров удовлетворяющих данным криетриямю.</h3>
{% endif %}
<ul class="catalog" id="catalog__list">
    {% for item in data %}
    <li class="catalog__item">
        <a href="index.php?c=catalog&act=GetGoodInfo&id={{ item.id }}"><img height="230" src="public/images/goods/{{ item.img }}" alt="photo"></a>
        <div class="catalog__info">
            <a class="catalog__link" href="index.php?c=catalog&act=GetGoodInfo&id={{ item.id }}"><p>Название товара:&nbsp; {{ item.name }}</p></a>
            <p class="catalog__price">Цена:&nbsp; {{ item.price }}руб.</p>
            <p>Краткая информация:&nbsp; {{ item.info }}</p>
            <p class="catalog__gender">Пол:&nbsp; {{ item.gen_name }}</p>
            <p>Категория:&nbsp; {{ item.good_cat_name }}</p>
            {% if uid %}
            <button onclick="addToCart({{ item.id }}, {{ uid }})" class="catalog__btn">Добавить вкорзину</button>
            {% else %}
            <button onclick="addToCart({{ item.id }}, '{{ sid }}')" class="catalog__btn">Добавить вкорзину</button>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
{% if maxPage > 1 %}
<button page="1" max_page="{{ maxPage }}" gcat="{{ gCat }}" gen="{{ gen }}" uid="{{ uid }}" sid="{{ sid }}" class="catalog__show_btn" id="showmore-button">Показать ещё</button>
{% endif %}
<script src="public/js/showMoreGoods.js"></script>
<script src="public/js/cart.js"></script>